body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.post-body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.menu-item a {
  color: #2bbc8a;
}
.post-button {
  text-align: center;
}
.post-button .btn {
  color: #fff !important;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.35);
  background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
  border: none !important;
  transition-property: unset;
  padding: 0px 15px;
}
.post-button .btn:hover {
  color: #fff !important;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.35);
  background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}
.header {
  background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
.site-title {
  color: #fff;
}
.logo-line-before i,
.logo-line-after i {
  background: #2bbc8a;
}
.post {
  margin-bottom: 50px;
  padding: 45px 36px 36px 36px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #fff;
}
.posts-expand .post-title {
  font-size: 26px;
  font-weight: 700;
}
.posts-expand .post-title-link::before {
  background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
